.blog-title p{
    font-size:30px;
    font-style:italic;
    margin-top:50px;
    margin-left:50px
}
.blog-page-top-container{
    position: sticky;
    top:0px;
    width:auto;
    /*width:1500px;*/
}
.blog-page-top-container{
    background: white;
}

.blog-menu-bar{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor:pointer;
    margin-left:80px;

}


.blog-menu-bar a {
    color:black;
    text-decoration: none;
    margin-right: 40px;
    opacity: 0.6;
    transition:opacity 0.15s;
}
.blog-menu-bar a:hover{
    opacity: 1;
}
.blog-menu-bar a::selection{
    opacity: 1;
}



.blog-main-section{
    padding: 20px;
    margin-left:80px;
    font-family: 'Quattrocento Sans', sans-serif;
    width: 1050px;
    line-height: 30px;
}


.blog-article h1 {
    font-size: 22px;
    text-align: center;
}
.blog-article p{
    text-align: left; 
    font-size: 20px;
}

.blog-read-more-content{
    display: none;
}


.blog-article .blog-read-more-btn{
    padding:8px 15px;
    border: 1px solid #555555;
    font-size: 16px;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
}


.blog-popup-box{
    position: fixed;
    height:100%;
    width:100%;
    left:0;
    top:0;
    background-color: rgba(0,0,0,0.5);
    z-index: 0;
    visibility:hidden ; 
    opacity: 0; 
    transition: all 0.5s ease-in-out;
}

.blog-popup-box.open{
    visibility: visible;
    opacity: 1;
}

.blog-popup-box .blog-popup-box-content{
    background-color: #ffffff;
    width:1200px;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    border-radius: 8px;
}



.blog-popup-box .blog-popup-content-header .blog-popup-close-icon{
    position:absolute;
    height: 30px;
    width: 30px;
    text-align: center;
    color: #555555;
    font-size: 28px;
    line-height: 30px;
    right: 5px;
    top:5px;
    cursor: pointer;
}

.blog-popup-box .blog-popup-content-header{
    padding:15px; 
    border-bottom:1px solid #dddddd; 
    text-align: center;
}

.blog-popup-box .blog-popup-content-body{
    padding:15px;
     border-bottom:1px solid #dddddd; 
     line-height: 30px;
}
.blog-popup-box .blog-popup-content-footer{
    padding:15px;
}

.blog-popup-box .blog-popup-content-footer .blog-popup-close-btn{
    padding:8px 15px;
    border: 1px solid #555555;
    font-size: 16px;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
}

.blog-popup-box .blog-popup-content-footer .blog-popup-close-btn:focus{
    outline: none;
}

.blog-page-main-content {
    display: flex;
}
.blog-popup-box .blog-popup-box-content{
    width:calc(70% - 30px);
    height:calc(90% - 30px);
    overflow-x: auto;
    overflow-y: auto;
}

/*responsivines
@media(max-with: 767px){
    .blog-page-main-content{
        flex:0 0 100%;
        max-width: 2%
    }
    .blog-popup-box .blog-popup-box-content{
        width:calc(100% - 30px);
    }

}*/
    
